h1 {
  color: red;
}

p,
li {
  color: #696969;
}

body {
  padding: 4rem 0 0 10rem;
  font-family: "Sawarabi Mincho", sans-serif;
}

.profile {
  color: aqua;
}

.hobby {
  color: blueviolet;
}

.restaurants {
  color: cadetblue;
}

.sites {
  color: chocolate;
}

.web-services {
  color: darkcyan;
}

.photos {
  color: brown;
}

.video-ranking {
  color: yellowgreen;
}

html {
  background-color: lemonchiffon;
}
